openapi: 3.1.0
info:
  title: ConnectyHub WhatsApp API
  version: 1.0.0
  description: >-
    API publica da ConnectyHub para instancias WhatsApp, envio de mensagens, consultas, webhooks assinados e recursos
    avancados controlados.
servers:
  - url: https://www.connectyhub.com.br/api/v1
    description: Producao ConnectyHub
tags:
  - name: Nativo ConnectyHub
    description: Rotas principais da ConnectyHub para clientes da API.
  - name: Instancias
    description: 'Ciclo de vida da instancia WhatsApp: conectar, status, limites, perfil e privacidade.'
  - name: CRM
    description: Campos de lead e dados auxiliares de relacionamento.
  - name: Avancado
    description: Recursos avancados roteados pela ConnectyHub com controle de instancia.
  - name: Perfil
    description: Nome e imagem de perfil da conta conectada.
  - name: Enviar Mensagem
    description: Envio de texto, midia, contatos, localizacao, status e mensagens interativas.
  - name: Mensagem Async
    description: Envio e acompanhamento de mensagens assicronas.
  - name: Acoes na mensagem e Buscar
    description: Busca, historico, leitura, reacao, edicao, fixacao e download de mensagens.
  - name: Grupos e Comunidades
    description: Criacao e administracao de grupos, comunidades e participantes.
  - name: Newsletters e Canais
    description: Criacao, mensagens, seguidores, configuracoes e busca de canais.
  - name: Webhooks e SSE
    description: Webhooks por instancia, erros recentes e stream de eventos.
  - name: Mensagem em massa
    description: Pastas, filas e disparos controlados.
  - name: Bloqueios
    description: Lista e controle de contatos bloqueados.
  - name: Etiquetas
    description: Gerenciamento de etiquetas e vinculos com chats.
  - name: Chats
    description: 'Operacoes de conversa: detalhes, etiquetas, arquivamento, silenciar, leitura e notas.'
  - name: Contatos
    description: Consulta, criacao e remocao de contatos.
  - name: Respostas Rapidas
    description: Respostas rapidas salvas na conta.
  - name: Chamadas
    description: Chamadas de voz e rejeicao de chamadas.
  - name: Integracao Chatwoot
    description: Configuracao de integracao com Chatwoot para atendimento.
  - name: Business
    description: Perfil comercial, categorias e catalogo de produtos.
security:
  - bearerAuth: []
  - apiKeyHeader: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: ConnectyHub API key
      description: 'Use Authorization: Bearer ch_live_...'
    apiKeyHeader:
      type: apiKey
      in: header
      name: x-connectyhub-api-key
      description: Header alternativo para enviar a chave ConnectyHub.
  schemas:
    ErrorEnvelope:
      type: object
      properties:
        ok:
          type: boolean
          const: false
        error:
          type: object
          required:
            - code
            - message
          properties:
            code:
              type: string
            message:
              type: string
            details: {}
      required:
        - ok
        - error
    ConnectyHubInstance:
      type: object
      properties:
        id:
          type: string
          format: uuid
        provider:
          type: string
          example: connectyhub
        phoneNumber:
          type:
            - string
            - 'null'
        displayName:
          type:
            - string
            - 'null'
        profileImageUrl:
          type:
            - string
            - 'null'
        status:
          type: string
          enum:
            - disconnected
            - connecting
            - connected
            - hibernated
        webhookConfigured:
          type: boolean
    Instance:
      type: object
      description: Representa uma instancia do WhatsApp
      properties:
        id:
          type: string
          format: uuid
          description: ID unico gerado automaticamente
        status:
          type: string
          description: Status atual da conexao
        paircode:
          type: string
          description: Codigo de pareamento
        qrcode:
          type: string
          description: QR Code em base64 para autenticacao
        name:
          type: string
          description: Nome da instancia
        profileName:
          type: string
          description: Nome do perfil WhatsApp
        profilePicUrl:
          type: string
          format: uri
          description: URL da foto do perfil
        isBusiness:
          type: boolean
          description: Indica se e uma conta business
        plataform:
          type: string
          description: Plataforma de origem (iOS/Android/Web)
        systemName:
          type: string
          description: Nome do sistema operacional
        owner:
          type: string
          description: Proprietario da instancia
        current_presence:
          type: string
          description: Status atual de presenca da instancia (campo nao persistido)
          enum:
            - available
            - unavailable
          example: available
        lastDisconnect:
          type: string
          format: date-time
          description: Data/hora da ultima desconexao
        lastDisconnectReason:
          type: string
          description: Motivo da ultima desconexao
        openai_apikey:
          type: string
          description: Chave da API OpenAI
        chatbot_enabled:
          type: boolean
          description: Habilitar chatbot automatico
        chatbot_ignoreGroups:
          type: boolean
          description: Ignorar mensagens de grupos
        chatbot_stopConversation:
          type: string
          description: Palavra-chave para parar conversa
        chatbot_stopMinutes:
          type: integer
          description: Por quanto tempo ficara pausado o chatbot ao usar stop conversation
        chatbot_stopWhenYouSendMsg:
          type: integer
          description: Por quanto tempo ficara pausada a conversa quando voce enviar mensagem manualmente
        fieldsMap:
          type: object
          description: Mapa de campos customizados da instancia (quando presente)
          additionalProperties: true
        currentTime:
          type: string
          description: Horario atual retornado pelo backend
        created:
          type: string
          format: date-time
          description: Data de criacao da instancia
        updated:
          type: string
          format: date-time
          description: Data da ultima atualizacao
      example:
        id: i91011ijkl
        status: connected
        paircode: 1234-5678
        qrcode: data:image/png;base64,iVBORw0KGg...
        name: Instancia Principal
        profileName: Loja ABC
        profilePicUrl: https://example.com/profile.jpg
        isBusiness: true
        plataform: Android
        systemName: ConnectyHub
        owner: user@example.com
        lastDisconnect: '2025-01-24T14:00:00Z'
        lastDisconnectReason: Network error
        openai_apikey: sk-...xyz
        chatbot_enabled: true
        chatbot_ignoreGroups: true
        chatbot_stopConversation: parar
        chatbot_stopMinutes: 60
        created: '2025-01-24T14:00:00Z'
        updated: '2025-01-24T14:30:00Z'
        currentPresence: available
    Webhook:
      type: object
      description: Configuracao completa de webhook com filtros e opcoes avancadas
      properties:
        id:
          type: string
          format: uuid
          description: ID unico gerado automaticamente
        enabled:
          type: boolean
          description: Webhook ativo/inativo
          default: false
        url:
          type: string
          format: uri
          description: URL de destino dos eventos
        events:
          type: array
          items:
            type: string
            enum:
              - connection
              - history
              - messages
              - messages_update
              - newsletter_messages
              - call
              - contacts
              - presence
              - groups
              - labels
              - chats
              - chat_labels
              - blocks
              - sender
          description: Tipos de eventos monitorados
        addUrlTypesMessages:
          type: boolean
          description: Incluir na URLs o tipo de mensagem
          default: false
        addUrlEvents:
          type: boolean
          description: Incluir na URL o nome do evento
          default: false
        excludeMessages:
          type: array
          items:
            type: string
            enum:
              - wasSentByApi
              - wasNotSentByApi
              - fromMeYes
              - fromMeNo
              - isGroupYes
              - isGroupNo
          description: Filtros para excluir tipos de mensagens
      required:
        - url
        - events
      example:
        id: wh_9a8b7c6d5e
        enabled: true
        url: https://webhook.cool/example
        events:
          - messages
          - newsletter_messages
          - connection
        addUrlTypesMessages: false
        addUrlEvents: false
        excludeMessages: []
    Chat:
      type: object
      description: Representa uma conversa/chamado no sistema
      properties:
        id:
          type: string
          description: ID unico da conversa (r + 7 bytes aleatorios em hex)
        wa_fastid:
          type: string
          description: Identificador rapido do WhatsApp
        wa_chatid:
          type: string
          description: ID completo do chat no WhatsApp
        wa_chatlid:
          type: string
          description: LID do chat no WhatsApp (quando disponivel)
        wa_archived:
          type: boolean
          description: Indica se o chat esta arquivado
          default: false
        wa_contactName:
          type: string
          description: |
            Nome salvo nos contatos pelo dono da conta/instancia.
            So existe quando o numero estiver salvo na agenda/contatos.
          default: ''
        wa_name:
          type: string
          description: |
            Nome definido pelo usuario no perfil do WhatsApp ("push name").
            Vem do perfil do contato e pode nao estar disponivel dependendo do contexto ou da origem dos dados.
          default: ''
        name:
          type: string
          description: >
            Nome resolvido pelo sistema como fallback.

            Normalmente consolida o melhor valor disponivel entre dados internos, nome vindo do WhatsApp e nome salvo
            nos contatos.

            Por isso, costuma ter maior chance de vir preenchido.
          default: ''
        image:
          type: string
          description: URL da imagem do chat
          default: ''
        imagePreview:
          type: string
          description: URL da miniatura da imagem
          default: ''
        wa_ephemeralExpiration:
          type: integer
          format: int64
          description: Tempo de expiracao de mensagens efemeras
          default: 0
        wa_isBlocked:
          type: boolean
          description: Indica se o contato esta bloqueado
          default: false
        wa_isGroup:
          type: boolean
          description: Indica se e um grupo
          default: false
        wa_isGroup_admin:
          type: boolean
          description: Indica se o usuario e admin do grupo
          default: false
        wa_isGroup_announce:
          type: boolean
          description: Indica se e um grupo somente anuncios
          default: false
        wa_isGroup_community:
          type: boolean
          description: Indica se e uma comunidade
          default: false
        wa_isGroup_member:
          type: boolean
          description: Indica se e membro do grupo
          default: false
        wa_isPinned:
          type: boolean
          description: Indica se o chat esta fixado
          default: false
        wa_label:
          type: array
          description: Labels do chat
          items:
            type: string
        wa_notes:
          type: string
          description: Anotacoes internas do chat sincronizadas via app state
          default: ''
        wa_lastMessageTextVote:
          type: string
          description: Texto/voto da ultima mensagem
          default: ''
        wa_lastMessageType:
          type: string
          description: Tipo da ultima mensagem
          default: ''
        wa_lastMsgTimestamp:
          type: integer
          format: int64
          description: Timestamp da ultima mensagem
          default: 0
        wa_lastMessageSender:
          type: string
          description: Remetente da ultima mensagem
          default: ''
        wa_muteEndTime:
          type: integer
          format: int64
          description: Timestamp do fim do silenciamento
          default: 0
        owner:
          type: string
          description: Dono da instancia
          default: ''
        wa_unreadCount:
          type: integer
          format: int64
          description: Contador de mensagens nao lidas
          default: 0
        phone:
          type: string
          description: Numero de telefone
          default: ''
        common_groups:
          type: string
          description: 'Grupos em comum separados por virgula, formato: (nome_grupo)id_grupo'
          default: ''
          example: Grupo Familia(120363123456789012@g.us),Trabalho(987654321098765432@g.us)
        lead_name:
          type: string
          description: Nome do lead
          default: ''
        lead_fullName:
          type: string
          description: Nome completo do lead
          default: ''
        lead_email:
          type: string
          description: Email do lead
          default: ''
        lead_personalid:
          type: string
          description: Documento de identificacao
          default: ''
        lead_status:
          type: string
          description: Status do lead
          default: ''
        lead_tags:
          type: array
          description: Tags do lead
          items:
            type: string
        lead_notes:
          type: string
          description: Anotacoes sobre o lead
          default: ''
        lead_isTicketOpen:
          type: boolean
          description: Indica se tem ticket aberto
          default: false
        lead_assignedAttendant_id:
          type: string
          description: ID do atendente responsavel
          default: ''
        lead_kanbanOrder:
          type: integer
          format: int64
          description: Ordem no kanban
          default: 0
        lead_field01:
          type: string
          default: ''
        lead_field02:
          type: string
          default: ''
        lead_field03:
          type: string
          default: ''
        lead_field04:
          type: string
          default: ''
        lead_field05:
          type: string
          default: ''
        lead_field06:
          type: string
          default: ''
        lead_field07:
          type: string
          default: ''
        lead_field08:
          type: string
          default: ''
        lead_field09:
          type: string
          default: ''
        lead_field10:
          type: string
          default: ''
        lead_field11:
          type: string
          default: ''
        lead_field12:
          type: string
          default: ''
        lead_field13:
          type: string
          default: ''
        lead_field14:
          type: string
          default: ''
        lead_field15:
          type: string
          default: ''
        lead_field16:
          type: string
          default: ''
        lead_field17:
          type: string
          default: ''
        lead_field18:
          type: string
          default: ''
        lead_field19:
          type: string
          default: ''
        lead_field20:
          type: string
          default: ''
        chatbot_agentResetMemoryAt:
          type: integer
          format: int64
          description: Timestamp do ultimo reset de memoria
          default: 0
        chatbot_lastTrigger_id:
          type: string
          description: ID do ultimo gatilho executado
          default: ''
        chatbot_lastTriggerAt:
          type: integer
          format: int64
          description: Timestamp do ultimo gatilho
          default: 0
        chatbot_disableUntil:
          type: integer
          format: int64
          description: Timestamp ate quando chatbot esta desativado
          default: 0
    Message:
      type: object
      description: Representa uma mensagem trocada no sistema
      properties:
        id:
          type: string
          format: uuid
          description: ID unico interno da mensagem (formato r + 7 caracteres hex aleatorios)
        messageid:
          type: string
          description: ID original da mensagem no provedor
        chatid:
          type: string
          description: ID da conversa relacionada
        sender:
          type: string
          description: ID do remetente da mensagem
        senderName:
          type: string
          description: Nome exibido do remetente
        isGroup:
          type: boolean
          description: Indica se e uma mensagem de grupo
          default: false
        fromMe:
          type: boolean
          description: Indica se a mensagem foi enviada pelo usuario
          default: false
        messageType:
          type: string
          description: Tipo de conteudo da mensagem
        source:
          type: string
          description: Plataforma de origem da mensagem
        messageTimestamp:
          type: integer
          description: Timestamp original da mensagem em milissegundos
          default: 0
        status:
          type: string
          description: |
            Status do ciclo de vida da mensagem.
            Exemplos comuns: `Queued`, `Canceled`, `Failed`, `Sent`, `Delivered`, `Read`.
        text:
          type: string
          description: Texto original da mensagem
          default: ''
        quoted:
          type: string
          description: ID da mensagem citada/respondida
          default: ''
        edited:
          type: string
          description: Historico de edicoes da mensagem
          default: ''
        reaction:
          type: string
          description: ID da mensagem reagida
          default: ''
        vote:
          type: string
          description: Dados de votacao de enquete e listas
          default: ''
        convertOptions:
          type: string
          description: Conversao de opcoes da mensagem, lista, enquete e botoes
          default: ''
        buttonOrListid:
          type: string
          description: ID do botao ou item de lista selecionado
          default: ''
        owner:
          type: string
          description: Dono da mensagem
          default: ''
        error:
          type: string
          description: Mensagem de erro caso o envio tenha falhado
          default: ''
        content:
          description: Conteudo bruto da mensagem (JSON serializado ou texto)
          oneOf:
            - type: object
              additionalProperties: true
            - type: string
              description: Texto bruto quando nao for JSON
        wasSentByApi:
          type: boolean
          description: Indica se a mensagem foi enviada via API
        sendFunction:
          type: string
          description: Funcao usada para enviar a mensagem (quando enviada via API)
        sendPayload:
          description: Payload enviado (texto/JSON serializado)
          oneOf:
            - type: object
              additionalProperties: true
            - type: string
              description: Texto bruto quando nao for JSON
        fileURL:
          type: string
          description: URL ou referencia de arquivo da mensagem
        send_folder_id:
          type: string
          description: Pasta associada ao envio (quando aplicavel)
        track_source:
          type: string
          description: Origem de rastreamento
        track_id:
          type: string
          description: ID de rastreamento (pode repetir)
        ai_metadata:
          type: object
          description: Metadados do processamento por IA
          properties:
            agent_id:
              type: string
              description: ID do agente de IA responsavel
            request:
              type: object
              description: Dados da requisicao a API de IA
              properties:
                messages:
                  type: array
                  description: Historico de mensagens enviadas para a API
                tools:
                  type: array
                  description: Ferramentas disponiveis para o agente
                options:
                  type: object
                  description: Opcoes de configuracao da API
                  properties:
                    model:
                      type: string
                    temperature:
                      type: number
                    maxTokens:
                      type: integer
                    topP:
                      type: number
                    frequencyPenalty:
                      type: number
                    presencePenalty:
                      type: number
            response:
              type: object
              description: Resposta da API de IA
              properties:
                choices:
                  type: array
                  description: Resultados retornados pela API
                toolResults:
                  type: array
                  description: Resultados da execucao de ferramentas
                error:
                  type: string
                  description: Mensagem de erro, se houver
        sender_pn:
          type: string
          description: JID PN resolvido do remetente (quando disponivel)
        sender_lid:
          type: string
          description: LID original do remetente (quando disponivel)
    Label:
      type: object
      description: Representa uma etiqueta/categoria no sistema
      properties:
        id:
          type: string
          format: uuid
          description: ID unico da etiqueta
        name:
          type: string
          description: Nome da etiqueta
        color:
          type: integer
          description: Indice numerico da cor (0-19)
          minimum: 0
          maximum: 19
          example: 2
        colorHex:
          type: string
          description: Cor hexadecimal correspondente ao indice
          enum:
            - '#ff9484'
            - '#64c4ff'
            - '#fed428'
            - '#dfaef0'
            - '#9ab6c1'
            - '#56ccb4'
            - '#fe9dfe'
            - '#d3a91f'
            - '#6f7bcf'
            - '#d8e651'
            - '#01d0e2'
            - '#ffc5c7'
            - '#92ceac'
            - '#f64847'
            - '#00a1f2'
            - '#83e421'
            - '#ffae04'
            - '#b4ebff'
            - '#9ba6ff'
            - '#9568cf'
          example: '#fed428'
        labelid:
          type: string
          description: ID da label no WhatsApp (quando sincronizada)
        owner:
          type: string
          description: Dono da etiqueta
        created:
          type: string
          format: date-time
          description: Data de criacao
        updated:
          type: string
          format: date-time
          description: Data da ultima atualizacao
      example:
        id: l121314mnop
        name: Cliente VIP
        color: 2
        colorHex: '#fed428'
        created: '2025-01-24T14:35:00.000Z'
        updated: '2025-01-24T15:00:00.000Z'
    Attendant:
      type: object
      description: Modelo de atendente do sistema
      properties:
        id:
          type: string
          format: uuid
          description: ID unico gerado automaticamente
        name:
          type: string
          description: Nome do atendente
          default: ''
        phone:
          type: string
          description: Numero de telefone
          default: ''
        email:
          type: string
          format: email
          description: Endereco de e-mail
          default: ''
        department:
          type: string
          description: Departamento de atuacao
          default: ''
        customField01:
          type: string
          description: Campo personalizavel 01
          default: ''
        customField02:
          type: string
          description: Campo personalizavel 02
          default: ''
        owner:
          type: string
          description: Responsavel pelo cadastro
          default: ''
        created:
          type: string
          format: date-time
          description: Data de criacao automatica
        updated:
          type: string
          format: date-time
          description: Data de atualizacao automatica
      example:
        id: r1234abcd
        name: Joao da Silva
        phone: '+5511999999999'
        email: joao@empresa.com
        department: Suporte Tecnico
        customField01: 'Turno: Manha'
        customField02: 'Nivel: 2'
        owner: admin
        created: '2025-01-24T13:52:19.000Z'
        updated: '2025-01-24T13:52:19.000Z'
    MessageQueueFolder:
      type: object
      description: Pasta para organizacao de campanhas de mensagens em massa
      properties:
        id:
          type: string
          description: Identificador unico
        info:
          type: string
          description: Informacoes adicionais sobre a pasta
        status:
          type: string
          description: Status atual da pasta
          example: ativo
        scheduled_for:
          type: integer
          format: int64
          description: Timestamp Unix para execucao agendada
        delayMax:
          type: integer
          format: int64
          description: Atraso maximo entre mensagens em milissegundos
        delayMin:
          type: integer
          format: int64
          description: Atraso minimo entre mensagens em milissegundos
        log_delivered:
          type: integer
          format: int64
          description: Contagem de mensagens entregues
        log_failed:
          type: integer
          format: int64
          description: Contagem de mensagens com falha
        log_played:
          type: integer
          format: int64
          description: Contagem de mensagens reproduzidas (para audio/video)
        log_read:
          type: integer
          format: int64
          description: Contagem de mensagens lidas
        log_sucess:
          type: integer
          format: int64
          description: Contagem de mensagens enviadas com sucesso
        log_total:
          type: integer
          format: int64
          description: Contagem total de mensagens
        owner:
          type: string
          description: Identificador do proprietario da instancia
        created:
          type: string
          format: date-time
          description: Data e hora de criacao
        updated:
          type: string
          format: date-time
          description: Data e hora da ultima atualizacao
    QuickReply:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: ID unico da resposta rapida
        onWhatsApp:
          type: boolean
          description: Indica se a resposta esta sincronizada com o WhatsApp Business
          default: false
        docName:
          type: string
          description: Nome de documento associado (quando aplicavel)
          default: ''
        file:
          type: string
          description: Caminho ou conteudo do arquivo associado
          default: ''
        shortCut:
          type: string
          description: Atalho para acionar a resposta
        text:
          type: string
          description: Conteudo da mensagem pre-definida
        type:
          type: string
          description: Tipo da resposta rapida (texto/documento/outros)
        owner:
          type: string
          description: Dono da resposta rapida
        created:
          type: string
          format: date-time
          description: Data de criacao
        updated:
          type: string
          format: date-time
          description: Data da ultima atualizacao
      required:
        - shortCut
        - text
    Group:
      type: object
      description: Representa um grupo/conversa coletiva
      properties:
        JID:
          type: string
          format: jid
          description: Identificador unico do grupo
          example: jid8@g.us
        OwnerJID:
          type: string
          format: jid
          description: JID do proprietario do grupo
          example: 1232@s.whatsapp.net
        OwnerPN:
          type: string
          format: jid
          description: Numero/LID do proprietario (quando disponivel)
        Name:
          type: string
          description: Nome do grupo
          example: Grupo de Suporte
        NameSetAt:
          type: string
          format: date-time
          description: Data da ultima alteracao do nome
        NameSetBy:
          type: string
          format: jid
          description: JID do usuario que definiu o nome
        NameSetByPN:
          type: string
          format: jid
          description: LID/PN de quem definiu o nome
        Topic:
          type: string
          description: Descricao do grupo
        TopicID:
          type: string
          description: ID interno da descricao
        TopicSetAt:
          type: string
          format: date-time
          description: Data da ultima alteracao da descricao
        TopicSetBy:
          type: string
          format: jid
          description: JID de quem alterou a descricao
        TopicSetByPN:
          type: string
          format: jid
          description: LID/PN de quem alterou a descricao
        TopicDeleted:
          type: boolean
          description: Indica se a descricao foi apagada
        IsLocked:
          type: boolean
          description: |
            Indica se apenas administradores podem editar informacoes do grupo
            - true = apenas admins podem editar
            - false = todos podem editar
          example: true
        IsAnnounce:
          type: boolean
          description: Indica se apenas administradores podem enviar mensagens
        AnnounceVersionID:
          type: string
          description: Versao da configuracao de anuncios
        IsEphemeral:
          type: boolean
          description: Indica se as mensagens sao temporarias
        DisappearingTimer:
          type: integer
          description: Tempo em segundos para desaparecimento de mensagens
          minimum: 0
        IsIncognito:
          type: boolean
          description: Indica se o grupo e incognito
        IsParent:
          type: boolean
          description: Indica se e um grupo pai (comunidade)
        IsJoinApprovalRequired:
          type: boolean
          description: Indica se requer aprovacao para novos membros
        LinkedParentJID:
          type: string
          format: jid
          description: JID da comunidade vinculada
        IsDefaultSubGroup:
          type: boolean
          description: Indica se e um subgrupo padrao da comunidade
        DefaultMembershipApprovalMode:
          type: string
          description: Modo padrao de aprovacao de membros (quando comunidade)
        GroupCreated:
          type: string
          format: date-time
          description: Data de criacao do grupo
        CreatorCountryCode:
          type: string
          description: Codigo do pais do criador
        ParticipantVersionID:
          type: string
          description: Versao da lista de participantes
        Participants:
          type: array
          items:
            $ref: '#/components/schemas/GroupParticipant'
          description: Lista de participantes do grupo
        MemberAddMode:
          type: string
          enum:
            - admin_add
            - all_member_add
          description: Modo de adicao de novos membros
        AddressingMode:
          type: string
          enum:
            - pn
            - lid
          description: Enderecamento preferido do grupo
        OwnerCanSendMessage:
          type: boolean
          description: Verifica se e possivel voce enviar mensagens
        OwnerIsAdmin:
          type: boolean
          description: Verifica se voce adminstrador do grupo
        DefaultSubGroupId:
          type: string
          description: Se o grupo atual for uma comunidade, nesse campo mostrara o ID do subgrupo de avisos
        invite_link:
          type: string
          description: Link de convite para entrar no grupo
        request_participants:
          type: string
          description: Lista de solicitacoes de entrada, separados por virgula
    GroupParticipant:
      type: object
      description: Participante de um grupo
      properties:
        JID:
          type: string
          format: jid
          description: Identificador do participante
        LID:
          type: string
          format: jid
          description: Identificador local do participante
        PhoneNumber:
          type: string
          format: jid
          description: Numero do participante (quando disponivel)
        IsAdmin:
          type: boolean
          description: Indica se e administrador
        IsSuperAdmin:
          type: boolean
          description: Indica se e super administrador
        DisplayName:
          type: string
          description: Nome exibido no grupo (para usuarios anonimos)
        Error:
          type: integer
          description: Codigo de erro ao adicionar participante
          minimum: 0
        AddRequest:
          type: object
          description: Informacoes da solicitacao de entrada
          properties:
            Code:
              type: string
              description: Codigo da solicitacao
            Expiration:
              type: string
              format: date-time
              description: Data de expiracao da solicitacao
    WebhookEvent:
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          type: string
          enum:
            - message
            - status
            - presence
            - group
            - connection
          description: Tipo do evento recebido
        instance:
          type: string
          description: ID da instancia que gerou o evento
        data:
          type: object
          description: |
            Payload do evento enviado pelo webhook. O formato varia conforme o tipo do evento
            (messages, messages_update, connection, presence, etc) e segue o que o backend envia
            em `callHook` (map[string]interface{}). Consulte os exemplos de cada evento especifico.
          additionalProperties: true
paths:
  /instances:
    get:
      tags:
        - Nativo ConnectyHub
      summary: Listar instancias
      description: >-
        Retorna as instancias WhatsApp vinculadas ao cliente API autenticado. Use o id retornado aqui em todas as
        chamadas de mensagens, consultas e recursos avancados.
      operationId: connectyhubListInstances
      responses:
        '200':
          description: Instancias do cliente API
        '401':
          description: Chave ausente, invalida ou expirada
    post:
      tags:
        - Nativo ConnectyHub
      summary: Criar instancia
      description: >-
        Cria uma nova instancia controlada pela ConnectyHub, vinculada ao cliente API autenticado e pronta para iniciar
        conexao por QR Code ou codigo de pareamento.
      operationId: connectyhubCreateInstance
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Nome interno da instancia
                  example: Atendimento Loja Centro
                webhookUrl:
                  type: string
                  format: uri
                  description: Webhook inicial do cliente
                  example: https://cliente.com/webhooks/connectyhub
                metadata:
                  type: object
                  description: Metadados livres do cliente
      responses:
        '201':
          description: Instancia criada
        '401':
          description: Chave ausente, invalida ou expirada
        '403':
          description: Cliente pausado ou sem permissao
  /instances/{instanceId}/connect:
    post:
      tags:
        - Nativo ConnectyHub
      summary: Conectar instancia
      description: >-
        Inicia ou atualiza o fluxo de conexao da instancia. A resposta pode incluir QR Code, codigo de pareamento,
        telefone conectado e status atual.
      operationId: connectyhubConnectInstance
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID publico da instancia ConnectyHub
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                phone:
                  type: string
                  description: Numero em formato internacional para gerar codigo de pareamento
                  example: '5511999999999'
      responses:
        '200':
          description: Status de conexao atualizado
        '404':
          description: Instancia nao encontrada para este cliente
        '429':
          description: Limite de conexoes simultaneas atingido
  /instances/{instanceId}/status:
    get:
      tags:
        - Nativo ConnectyHub
      summary: Atualizar status da instancia
      description: >-
        Consulta o status atual, sincroniza o registro da ConnectyHub e retorna informacoes de conexao, perfil, numero e
        foto quando disponiveis.
      operationId: connectyhubRefreshInstanceStatus
      parameters:
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID publico da instancia ConnectyHub
      responses:
        '200':
          description: Status atualizado
        '404':
          description: Instancia nao encontrada para este cliente
  /messages/text:
    post:
      tags:
        - Nativo ConnectyHub
      summary: Enviar texto
      description: >-
        Envia mensagem de texto por uma instancia controlada pela chave API. Use Idempotency-Key para evitar duplicidade
        em tentativas repetidas.
      operationId: connectyhubSendText
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
          description: Chave opcional para evitar envio duplicado
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - instanceId
                - number
                - text
              properties:
                instanceId:
                  type: string
                  format: uuid
                  example: ea36f5db-c8dd-48ca-9e28-73ca3f015d78
                number:
                  type: string
                  description: Numero em formato internacional
                  example: '5511999999999'
                text:
                  type: string
                  description: Texto da mensagem
                  example: Ola! Sua conversa foi iniciada pela ConnectyHub API.
                linkPreview:
                  type: boolean
                  description: Ativa preview de link quando aplicavel
                  example: true
                trackId:
                  type: string
                  description: ID externo para conciliacao no seu sistema
                  example: pedido-123
      responses:
        '200':
          description: Mensagem enviada
        '409':
          description: Conflito de idempotencia
        '429':
          description: Limite mensal atingido
  /messages/media:
    post:
      tags:
        - Nativo ConnectyHub
      summary: Enviar midia
      description: >-
        Envia imagem, video, audio, documento, PTT/PTV ou sticker por URL ou base64. O arquivo e processado pela
        instancia informada.
      operationId: connectyhubSendMedia
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            type: string
          description: Chave opcional para evitar envio duplicado
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - instanceId
                - number
                - type
                - file
              properties:
                instanceId:
                  type: string
                  format: uuid
                  example: ea36f5db-c8dd-48ca-9e28-73ca3f015d78
                number:
                  type: string
                  example: '5511999999999'
                type:
                  type: string
                  enum:
                    - image
                    - video
                    - videoplay
                    - document
                    - audio
                    - myaudio
                    - ptt
                    - ptv
                    - sticker
                  example: image
                file:
                  type: string
                  description: URL publica ou conteudo base64
                  example: https://exemplo.com/foto.jpg
                text:
                  type: string
                  description: Legenda opcional
                docName:
                  type: string
                  description: Nome do documento quando type=document
                trackId:
                  type: string
                  description: ID externo para conciliacao
      responses:
        '200':
          description: Midia enviada
        '429':
          description: Limite mensal atingido
  /messages:
    get:
      tags:
        - Nativo ConnectyHub
      summary: Buscar mensagens
      description: Consulta mensagens sincronizadas da instancia com paginacao e filtro por chat.
      operationId: connectyhubFindMessages
      parameters:
        - name: instanceId
          in: query
          required: true
          schema:
            type: string
          description: ID publico da instancia ConnectyHub
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: Quantidade maxima de registros
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          description: Deslocamento da paginacao
      responses:
        '200':
          description: Consulta executada com sucesso
    post:
      tags:
        - Nativo ConnectyHub
      summary: Buscar mensagens com filtros
      description: Consulta historico de mensagens com filtros avancados no corpo da requisicao.
      operationId: connectyhubFindMessagesWithFilters
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              required:
                - instanceId
              properties:
                instanceId:
                  type: string
                  format: uuid
                  example: ea36f5db-c8dd-48ca-9e28-73ca3f015d78
                limit:
                  type: integer
                  example: 50
                offset:
                  type: integer
                  example: 0
                chatId:
                  type: string
                  example: 5511999999999@s.whatsapp.net
      responses:
        '200':
          description: Mensagens encontradas
  /chats:
    get:
      tags:
        - Nativo ConnectyHub
      summary: Buscar chats
      description: Lista conversas com filtros, ordenacao e paginacao.
      operationId: connectyhubFindChats
      parameters:
        - name: instanceId
          in: query
          required: true
          schema:
            type: string
          description: ID publico da instancia ConnectyHub
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: Quantidade maxima de registros
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          description: Deslocamento da paginacao
      responses:
        '200':
          description: Consulta executada com sucesso
    post:
      tags:
        - Nativo ConnectyHub
      summary: Buscar chats com filtros
      description: Lista conversas usando filtros avancados no corpo da requisicao.
      operationId: connectyhubFindChatsWithFilters
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              required:
                - instanceId
              properties:
                instanceId:
                  type: string
                  format: uuid
                  example: ea36f5db-c8dd-48ca-9e28-73ca3f015d78
                limit:
                  type: integer
                  example: 50
                offset:
                  type: integer
                  example: 0
      responses:
        '200':
          description: Chats encontrados
  /chats/details:
    get:
      tags:
        - Nativo ConnectyHub
      summary: Detalhes do chat
      description: Retorna dados completos do contato, grupo ou chat, incluindo imagem quando disponivel.
      operationId: connectyhubChatDetails
      parameters:
        - name: instanceId
          in: query
          required: true
          schema:
            type: string
          description: ID publico da instancia ConnectyHub
        - name: number
          in: query
          required: true
          schema:
            type: string
          description: Numero ou identificador do chat
        - name: preview
          in: query
          required: false
          schema:
            type: boolean
          description: Inclui dados resumidos para preview
      responses:
        '200':
          description: Detalhes do chat
  /contacts:
    get:
      tags:
        - Nativo ConnectyHub
      summary: Listar contatos
      description: Lista contatos da conta conectada com paginacao e escopo de agenda.
      operationId: connectyhubListContacts
      parameters:
        - name: instanceId
          in: query
          required: true
          schema:
            type: string
          description: ID publico da instancia ConnectyHub
        - name: limit
          in: query
          required: false
          schema:
            type: integer
          description: Quantidade maxima de contatos
        - name: offset
          in: query
          required: false
          schema:
            type: integer
          description: Deslocamento da paginacao
        - name: contactScope
          in: query
          required: false
          schema:
            type: string
            enum:
              - address_book
              - outside_address_book
              - all
          description: Escopo da agenda consultada
      responses:
        '200':
          description: Contatos encontrados
  /webhooks:
    get:
      tags:
        - Nativo ConnectyHub
      summary: Listar webhooks
      description: Lista endpoints de webhook cadastrados para o cliente API.
      operationId: connectyhubListWebhooks
      responses:
        '200':
          description: Webhooks do cliente
    post:
      tags:
        - Nativo ConnectyHub
      summary: Criar webhook
      description: Cria um endpoint de webhook assinado. O secret e retornado apenas uma vez.
      operationId: connectyhubCreateWebhook
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              required:
                - url
              properties:
                url:
                  type: string
                  format: uri
                  example: https://cliente.com/webhooks/connectyhub
                description:
                  type: string
                  example: Webhook principal
                events:
                  type: array
                  items:
                    type: string
                    enum:
                      - messages
                      - messages_update
                      - connection
                      - chats
                      - contacts
                      - history
                      - presence
                      - groups
                      - labels
                      - chat_labels
                      - newsletter_messages
                      - call
                      - blocks
                      - sender
                  example:
                    - messages
                    - connection
      responses:
        '201':
          description: Webhook criado
  /webhooks/{webhookId}:
    get:
      tags:
        - Nativo ConnectyHub
      summary: Detalhar webhook
      description: Detalhar webhook cadastrado para o cliente API autenticado.
      operationId: connectyhubGetWebhook
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID do webhook
      responses:
        '200':
          description: Detalhar webhook
    patch:
      tags:
        - Nativo ConnectyHub
      summary: Atualizar webhook
      description: Atualizar webhook cadastrado para o cliente API autenticado.
      operationId: connectyhubUpdateWebhook
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID do webhook
      responses:
        '200':
          description: Atualizar webhook
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                description:
                  type: string
                events:
                  type: array
                  items:
                    type: string
                    enum:
                      - messages
                      - messages_update
                      - connection
                      - chats
                      - contacts
                      - history
                      - presence
                      - groups
                      - labels
                      - chat_labels
                      - newsletter_messages
                      - call
                      - blocks
                      - sender
                status:
                  type: string
                  enum:
                    - active
                    - paused
                    - archived
    delete:
      tags:
        - Nativo ConnectyHub
      summary: Arquivar webhook
      description: Arquivar webhook cadastrado para o cliente API autenticado.
      operationId: connectyhubArchiveWebhook
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID do webhook
      responses:
        '200':
          description: Arquivar webhook
  /webhooks/{webhookId}/test:
    post:
      tags:
        - Nativo ConnectyHub
      summary: Testar webhook
      description: Dispara um evento de teste assinado para validar a URL do cliente.
      operationId: connectyhubTestWebhook
      parameters:
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID do webhook
      responses:
        '200':
          description: Evento de teste entregue
  /webhooks/deliveries:
    get:
      tags:
        - Nativo ConnectyHub
      summary: Listar entregas de webhook
      description: Audita tentativas de entrega, status HTTP, payload resumido e resposta do endpoint.
      operationId: connectyhubListWebhookDeliveries
      responses:
        '200':
          description: Entregas recentes
  /webhooks/deliveries/{deliveryId}/retry:
    post:
      tags:
        - Nativo ConnectyHub
      summary: Reenviar entrega de webhook
      description: Executa retry manual de uma entrega de webhook do cliente.
      operationId: connectyhubRetryWebhookDelivery
      parameters:
        - name: deliveryId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: ID da entrega
      responses:
        '200':
          description: Retry executado
  /usage:
    get:
      tags:
        - Nativo ConnectyHub
      summary: Consultar uso e limite
      description: Retorna consumo do periodo, limite mensal, mensagens usadas e eventos recentes.
      operationId: connectyhubGetUsage
      responses:
        '200':
          description: Resumo de consumo do cliente API
  /provider/instance/connect:
    post:
      tags:
        - Instancias
      summary: Conectar instancia ao WhatsApp
      description: >
        Rota avancada exposta pela ConnectyHub. A autenticacao e feita pela chave ConnectyHub; a plataforma localiza a
        instancia pelo instanceId e aplica as permissoes do cliente antes de encaminhar a operacao.


        Envie instanceId no corpo ou query string e coloque os campos especificos da operacao dentro de payload.


        Inicia o processo de conexao de uma instancia ao WhatsApp. Este endpoint:

        1. Requer o instanceId da ConnectyHub

        2. Recebe o numero de telefone associado a conta WhatsApp

        3. Gera um QR code caso nao passe o campo `phone`

        4. Ou Gera codigo de pareamento se passar o o campo `phone`

        5. Atualiza o status da instancia para "connecting"


        O processo de conexao permanece pendente ate que:

        - O QR code seja escaneado no WhatsApp do celular, ou

        - O codigo de pareamento seja usado no WhatsApp

        - Timeout de 2 minutos para QRCode seja atingido ou 5 minutos para o codigo de pareamento


        Use o endpoint /instance/status para monitorar o progresso da conexao.


        Estados possiveis da instancia:

        - `disconnected`: Desconectado do WhatsApp

        - `connecting`: Em processo de conexao

        - `connected`: Conectado e autenticado


        Sincronizacao e armazenamento de mensagens:

        - Todas as mensagens recebidas da Meta durante a sincronizacao da conexao (leitura do QR code) sao enviadas no
        evento `history` do webhook.

        - As mensagens dos ultimos 7 dias sao armazenadas no banco de dados e ficam acessiveis pelos endpoints: `POST
        /message/find` e `POST /chat/find`.

        - Depois que a instancia conecta, todas as mensagens enviadas ou recebidas sao armazenadas no banco de dados.

        - Mensagens mais antigas do que 7 dias sao excluidas durante a madrugada.


        Proxy regional:

        - No momento, o proxy regional publico esta disponivel para Brasil (`br`).

        - Use `GET /proxy-managed/cities?country=br` para listar cidades brasileiras.

        - Envie `proxy_managed_city` com o `value` retornado pela cidade.

        - Quando a cidade retornar `state`, envie tambem `proxy_managed_state` com esse valor.

        - O backend valida a combinacao de pais, estado e cidade antes de salvar.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              required:
                - instanceId
              properties:
                instanceId:
                  type: string
                  format: uuid
                  description: ID publico da instancia ConnectyHub.
                  example: ea36f5db-c8dd-48ca-9e28-73ca3f015d78
                payload:
                  type: object
                  properties:
                    phone:
                      type: string
                      description: >-
                        Numero de telefone no formato internacional (ex: 5511999999999). Se informado, gera codigo de
                        pareamento. Se omitido, gera QR code.
                      example: '5511999999999'
                      pattern: ^\d{10,15}$
                    browser:
                      type: string
                      description: >-
                        Browser usado no ciclo de autenticacao/conexao. `auto` preserva um perfil valido ja salvo ou
                        escolhe Safari, Firefox ou Edge para novas conexoes.
                      enum:
                        - auto
                        - safari
                        - firefox
                        - edge
                        - chrome
                      default: auto
                      example: auto
                    systemName:
                      type: string
                      description: >-
                        Sistema/nome exibido no celular em aparelhos conectados. Ajuda a identificar a instancia no
                        WhatsApp; para maior estabilidade, recomendamos deixar em branco e usar o valor padrao do
                        navegador escolhido.
                      example: Minha Empresa
                    proxy_managed_country:
                      type: string
                      description: Pais desejado para o proxy regional, em ISO alpha-2 minusculo. No momento, use `br`.
                      example: br
                      pattern: ^[a-z]{2}$
                    proxy_managed_state:
                      type: string
                      description: >-
                        Estado/subdivisao da cidade escolhida. Quando o pais/cidade exigir desambiguacao, use o campo
                        `state` retornado por `GET /proxy-managed/cities?country=br`.
                      example: sp
                    proxy_managed_city:
                      type: string
                      description: >-
                        Cidade escolhida para o proxy regional. Use sempre o campo `value` retornado por `GET
                        /proxy-managed/cities`.
                      example: campinas
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  connected:
                    type: boolean
                    description: Estado atual da conexao
                    example: false
                  loggedIn:
                    type: boolean
                    description: Estado do login
                    example: false
                  jid:
                    type:
                      - object
                      - 'null'
                    description: ID do WhatsApp (quando logado)
                    example: null
                  instance:
                    $ref: '#/components/schemas/Instance'
                    description: Detalhes completos da instancia
        '401':
          description: Chave invalida ou expirada
        '404':
          description: Instancia nao encontrada
        '429':
          description: Limite de conexoes simultaneas atingido
        '500':
          description: Erro interno
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      parameters:
        - name: instanceId
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: ID publico da instancia ConnectyHub. Em metodos com body, tambem pode ser enviado no corpo.
          example: ea36f5db-c8dd-48ca-9e28-73ca3f015d78
      operationId: providerPostInstanceConnect
  /provider/instance/disconnect:
    post:
      tags:
        - Instancias
      summary: Desconectar instancia
      description: >
        Rota avancada exposta pela ConnectyHub. A autenticacao e feita pela chave ConnectyHub; a plataforma localiza a
        instancia pelo instanceId e aplica as permissoes do cliente antes de encaminhar a operacao.


        Envie instanceId no corpo ou query string. Esta operacao nao exige payload especifico.


        Desconecta a conta do WhatsApp atualmente conectada, encerrando a sessao atual.

        Esta operacao:


        - Encerra a conexao ativa


        - Requer novo QR code para reconectar



        Diferencas entre desconectar e hibernar:


        - Desconectar: Encerra completamente a sessao, exigindo novo login


        - Hibernar: Mantem a sessao ativa, apenas pausa a conexao



        Use este endpoint para:


        1. Encerrar completamente uma sessao


        2. Forcar uma nova autenticacao


        3. Limpar credenciais da sessao atual


        4. Reiniciar o processo de conexao



        Estados possiveis apos desconectar:


        - `disconnected`: Desconectado do WhatsApp


        - `connecting`: Em processo de reconexao (apos usar /instance/connect)
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  instance:
                    $ref: '#/components/schemas/Instance'
                  response:
                    type: string
                    example: Disconnected
                  info:
                    type: string
                    example: >-
                      The device has been successfully disconnected from WhatsApp. A new QR code will be required for
                      the next connection.
        '401':
          description: Chave invalida ou expirada
        '404':
          description: Instancia nao encontrada
        '500':
          description: Erro interno
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      parameters:
        - name: instanceId
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: ID publico da instancia ConnectyHub. Em metodos com body, tambem pode ser enviado no corpo.
          example: ea36f5db-c8dd-48ca-9e28-73ca3f015d78
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              required:
                - instanceId
              properties:
                instanceId:
                  type: string
                  format: uuid
                  description: ID publico da instancia ConnectyHub.
                  example: ea36f5db-c8dd-48ca-9e28-73ca3f015d78
                payload:
                  type: object
                  additionalProperties: true
                  description: Payload especifico da operacao, quando aplicavel.
      operationId: providerPostInstanceDisconnect
  /provider/instance/reset:
    post:
      tags:
        - Instancias
      summary: Reiniciar runtime da instancia
      description: >
        Rota avancada exposta pela ConnectyHub. A autenticacao e feita pela chave ConnectyHub; a plataforma localiza a
        instancia pelo instanceId e aplica as permissoes do cliente antes de encaminhar a operacao.


        Envie instanceId no corpo ou query string. Esta operacao nao exige payload especifico.


        Solicita um reset controlado do runtime da instancia atual.


        Este endpoint e util quando a sessao ficou presa, o envio nao esta progredindo

        ou a instancia precisa forcar uma tentativa de recuperacao sem apagar o registro

        da instancia.


        Comportamentos possiveis:

        - inicia um novo reset quando a instancia esta apta

        - informa que um reset ja esta em andamento

        - informa que existe cooldown ativo entre resets

        - retorna erro quando a sessao nao pode ser recuperada ou quando a politica de
          reconexao bloqueia a operacao

        A resposta sempre informa:

        - `instanceId`: ID da instancia autenticada

        - `resetting`: se ha reset em andamento no momento

        - `queuedRecoveryAttempted`: se houve tentativa de recuperacao da fila interna
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      responses:
        '200':
          description: Reset aceito, ja em andamento ou em cooldown
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: Instance reset started
                  resetting:
                    type: boolean
                    example: true
                  instanceId:
                    type: string
                    example: r183e2ef9597845
                  queuedRecoveryAttempted:
                    type: boolean
                    example: true
              examples:
                started:
                  summary: Reset iniciado
                  value:
                    response: Instance reset started
                    resetting: true
                    instanceId: r183e2ef9597845
                    queuedRecoveryAttempted: true
                inProgress:
                  summary: Reset ja em andamento
                  value:
                    response: Instance reset already in progress
                    resetting: true
                    instanceId: r183e2ef9597845
                    queuedRecoveryAttempted: false
                cooldown:
                  summary: Cooldown ativo
                  value:
                    response: Instance reset cooldown active (8s remaining)
                    resetting: false
                    instanceId: r183e2ef9597845
                    queuedRecoveryAttempted: false
        '400':
          description: Payload JSON invalido
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid payload
        '401':
          description: Token invalido, ausente ou cliente nao encontrado
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: client not found
        '403':
          description: Reset bloqueado pela politica de reconexao
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  resetting:
                    type: boolean
                    example: false
                  instanceId:
                    type: string
                  queuedRecoveryAttempted:
                    type: boolean
        '409':
          description: Sessao atual nao e reconectavel por reset
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  resetting:
                    type: boolean
                    example: false
                  instanceId:
                    type: string
                  queuedRecoveryAttempted:
                    type: boolean
        '500':
          description: Erro interno ao solicitar o reset
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: server not available
                  resetting:
                    type: boolean
                    example: false
                  instanceId:
                    type: string
                  queuedRecoveryAttempted:
                    type: boolean
      parameters:
        - name: instanceId
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: ID publico da instancia ConnectyHub. Em metodos com body, tambem pode ser enviado no corpo.
          example: ea36f5db-c8dd-48ca-9e28-73ca3f015d78
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              required:
                - instanceId
              properties:
                instanceId:
                  type: string
                  format: uuid
                  description: ID publico da instancia ConnectyHub.
                  example: ea36f5db-c8dd-48ca-9e28-73ca3f015d78
                payload:
                  type: object
                  additionalProperties: true
                  description: Payload especifico da operacao, quando aplicavel.
      operationId: providerPostInstanceReset
  /provider/instance/status:
    get:
      tags:
        - Instancias
      summary: Verificar status da instancia
      description: >
        Rota avancada exposta pela ConnectyHub. A autenticacao e feita pela chave ConnectyHub; a plataforma localiza a
        instancia pelo instanceId e aplica as permissoes do cliente antes de encaminhar a operacao.


        Envie instanceId como query string.


        Retorna o status atual de uma instancia, incluindo:

        - Estado da conexao (disconnected, connecting, connected)

        - QR code atualizado (se em processo de conexao)

        - Codigo de pareamento (se disponivel)

        - Informacoes da ultima desconexao

        - Detalhes completos da instancia


        Este endpoint e particularmente util para:

        1. Monitorar o progresso da conexao

        2. Obter QR codes atualizados durante o processo de conexao

        3. Verificar o estado atual da instancia

        4. Identificar problemas de conexao


        Estados possiveis:

        - `disconnected`: Desconectado do WhatsApp

        - `connecting`: Em processo de conexao (aguardando QR code ou codigo de pareamento)

        - `connected`: Conectado e autenticado com sucesso
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  instance:
                    $ref: '#/components/schemas/Instance'
                  status:
                    type: object
                    properties:
                      connected:
                        type: boolean
                        description: Indica se esta conectado ao WhatsApp
                      loggedIn:
                        type: boolean
                        description: Indica se esta autenticado no WhatsApp
                      jid:
                        type:
                          - object
                          - 'null'
                        description: ID do WhatsApp quando conectado
              example:
                instance:
                  id: r183e2ef9597845
                  name: minha-instancia
                  status: connected
                  profileName: Meu WhatsApp
                  currentTime: '2024-01-25T12:00:00.000Z'
                status:
                  connected: true
                  loggedIn: true
                  jid:
                    user: '5511999999999'
                    agent: 0
                    device: 0
                    server: s.whatsapp.net
        '401':
          description: Chave invalida ou expirada
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: instance info not found
        '404':
          description: Instancia nao encontrada
        '500':
          description: Erro interno
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      parameters:
        - name: instanceId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID publico da instancia ConnectyHub. Obrigatorio em chamadas GET.
          example: ea36f5db-c8dd-48ca-9e28-73ca3f015d78
      operationId: providerGetInstanceStatus
  /provider/instance/wa_messages_limits:
    get:
      tags:
        - Instancias
      summary: Consultar limites atuais de novas conversas no WhatsApp
      description: >
        Rota avancada exposta pela ConnectyHub. A autenticacao e feita pela chave ConnectyHub; a plataforma localiza a
        instancia pelo instanceId e aplica as permissoes do cliente antes de encaminhar a operacao.


        Envie instanceId como query string.


        Consulta o estado atual de limitacao do WhatsApp para a conta atualmente conectada.


        Este endpoint e util para:

        - diagnosticar erros de envio com `provider_code: 463`

        - verificar se o WhatsApp indica que a conta atualmente conectada pode iniciar novas conversas

        - exibir informacoes de suporte antes de campanhas ou envios de alto volume


        A resposta consolida duas fontes internas do WhatsApp:

        - `new_chat_message_capping`: limite de mensagens para iniciar novas conversas

        - `reachout_timelock`: restricao temporaria para iniciar novas conversas


        Observacoes:

        - este endpoint depende de sessao ativa e conectada

        - se o WhatsApp nao retornar os dados esperados, a resposta pode marcar os blocos como indisponiveis via
        `available: false` e `lookup_error`

        - `message` descreve o estado atual da conta atualmente conectada

        - `provider_message` detalha o motivo reportado pelo WhatsApp quando houver restricao ativa
      responses:
        '200':
          description: Diagnostico atual dos limites de novas conversas da conta atualmente conectada
          content:
            application/json:
              schema:
                type: object
                properties:
                  provider:
                    type: string
                    example: whatsapp
                  reachable:
                    type: boolean
                    description: Indica se ao menos uma das consultas ao WhatsApp retornou dados uteis
                    example: true
                  can_send_new_messages:
                    type:
                      - boolean
                      - 'null'
                    description: |
                      Indica se o WhatsApp sinaliza que a conta atualmente conectada pode iniciar novas conversas.
                      Pode ser `null` quando nao foi possivel concluir o diagnostico.
                    example: false
                  error_key:
                    type: string
                    description: Chave de erro derivada do diagnostico atual
                    example: WHATSAPP_REACHOUT_TIMELOCK
                  message:
                    type: string
                    description: Mensagem tecnica principal em ingles
                    example: >-
                      WhatsApp indicates that the currently connected account is under a temporary restriction for
                      starting new conversations. This is not an internal API error.
                  message_ptbr:
                    type: string
                    description: Mensagem principal traduzida para pt-BR
                    example: >-
                      O WhatsApp indica que a conta atualmente conectada esta sob uma restricao temporaria para iniciar
                      novas conversas. Isso nao e um erro interno da API.
                  provider_message:
                    type: string
                    description: Motivo detalhado reportado pelo WhatsApp em ingles
                    example: >-
                      WhatsApp reported that the currently connected account is under a temporary restriction for
                      starting new conversations, usually related to sending volume or quality.
                  provider_message_ptbr:
                    type: string
                    description: Motivo detalhado reportado pelo WhatsApp em pt-BR
                    example: >-
                      O WhatsApp informou que a conta atualmente conectada esta sob uma restricao temporaria para
                      iniciar novas conversas, normalmente relacionada a volume ou qualidade de envios.
                  diagnostics_endpoint:
                    type: string
                    example: /instance/wa_messages_limits
                  new_chat_message_capping:
                    type: object
                    properties:
                      available:
                        type: boolean
                        example: true
                      status:
                        type: string
                        example: CAPPED
                      used_quota:
                        type: integer
                        example: 10
                      total_quota:
                        type: integer
                        example: 10
                      cycle_start:
                        type: string
                        format: date-time
                      cycle_end:
                        type: string
                        format: date-time
                      server_sent_at:
                        type: string
                        format: date-time
                      ote_status:
                        type: string
                        example: EXHAUSTED
                      mv_status:
                        type: string
                        example: ACTIVE
                      lookup_error:
                        type: string
                  reachout_timelock:
                    type: object
                    properties:
                      available:
                        type: boolean
                        example: true
                      active:
                        type: boolean
                        example: true
                      until:
                        type: string
                        format: date-time
                      enforcement_type:
                        type: string
                        example: BIZ_QUALITY
                      lookup_error:
                        type: string
              examples:
                restricted:
                  summary: Conta conectada com restricao ativa
                  value:
                    provider: whatsapp
                    reachable: true
                    can_send_new_messages: false
                    error_key: WHATSAPP_REACHOUT_TIMELOCK
                    message: >-
                      WhatsApp indicates that the currently connected account is under a temporary restriction for
                      starting new conversations. This is not an internal API error.
                    message_ptbr: >-
                      O WhatsApp indica que a conta atualmente conectada esta sob uma restricao temporaria para iniciar
                      novas conversas. Isso nao e um erro interno da API.
                    provider_message: >-
                      WhatsApp reported that the currently connected account is under a temporary restriction for
                      starting new conversations, usually related to sending volume or quality.
                    provider_message_ptbr: >-
                      O WhatsApp informou que a conta atualmente conectada esta sob uma restricao temporaria para
                      iniciar novas conversas, normalmente relacionada a volume ou qualidade de envios.
                    diagnostics_endpoint: /instance/wa_messages_limits
                    new_chat_message_capping:
                      available: true
                      status: CAPPED
                      used_quota: 10
                      total_quota: 10
                      cycle_end: '2026-04-30T23:59:59Z'
                      ote_status: EXHAUSTED
                      mv_status: ACTIVE
                    reachout_timelock:
                      available: true
                      active: true
                      until: '2026-04-07T12:00:00Z'
                      enforcement_type: BIZ_QUALITY
                unrestricted:
                  summary: Conta conectada sem restricoes
                  value:
                    provider: whatsapp
                    reachable: true
                    can_send_new_messages: true
                    message: >-
                      No WhatsApp restriction for starting new conversations was detected for the currently connected
                      account.
                    message_ptbr: >-
                      Nenhuma restricao de envio de novas conversas foi identificada no WhatsApp para a conta atualmente
                      conectada.
                    diagnostics_endpoint: /instance/wa_messages_limits
                    new_chat_message_capping:
                      available: true
                      status: NONE
                      used_quota: 2
                      total_quota: 10
                    reachout_timelock:
                      available: true
                      active: false
        '401':
          description: Token invalido ou ausente
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: invalid token
        '500':
          description: Erro interno ao consultar os limites
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: No session
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      parameters:
        - name: instanceId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: ID publico da instancia ConnectyHub. Obrigatorio em chamadas GET.
          example: ea36f5db-c8dd-48ca-9e28-73ca3f015d78
      operationId: providerGetInstanceWaMessagesLimits
  /provider/instance/updateFieldsMap:
    post:
      tags:
        - CRM
      summary: Atualizar campos personalizados de leads
      description: >
        Rota avancada exposta pela ConnectyHub. A autenticacao e feita pela chave ConnectyHub; a plataforma localiza a
        instancia pelo instanceId e aplica as permissoes do cliente antes de encaminhar a operacao.


        Envie instanceId no corpo ou query string e coloque os campos especificos da operacao dentro de payload.


        Atualiza os campos personalizados (custom fields) de uma instancia.

        Permite configurar ate 20 campos personalizados para armazenamento de

        informacoes adicionais sobre leads.


        Cada campo pode armazenar ate 255 caracteres e aceita qualquer tipo de dado.


        Campos disponiveis:

        - lead_field01 a lead_field20


        Exemplo de uso:

        1. Armazenar informacoes adicionais sobre leads

        2. Criar campos personalizados para integracao com outros sistemas

        3. Armazenar tags ou categorias personalizadas

        4. Manter historico de interacoes com o lead


        Exemplo de requisicao:

        ```json

        {
          "lead_field01": "nome",
          "lead_field02": "email",
          "lead_field03": "telefone",
          "lead_field04": "cidade",
          "lead_field05": "estado",
          "lead_field06": "idade",
          "lead_field07": "interesses",
          "lead_field08": "origem",
          "lead_field09": "status",
          "lead_field10": "valor",
          "lead_field11": "observacoes",
          "lead_field12": "ultima_interacao",
          "lead_field13": "proximo_contato",
          "lead_field14": "vendedor",
          "lead_field15": "produto_interesse",
          "lead_field16": "fonte_captacao",
          "lead_field17": "score",
          "lead_field18": "tags",
          "lead_field19": "historico",
          "lead_field20": "custom"
        }

        ```


        Exemplo de resposta:

        ```json

        {
          "success": true,
          "message": "Custom fields updated successfully",
          "instance": {
            "id": "r183e2ef9597845",
            "name": "minha-instancia",
            "fieldsMap": {
              "lead_field01": "nome",
              "lead_field02": "email",
              "lead_field03": "telefone",
              "lead_field04": "cidade",
              "lead_field05": "estado",
              "lead_field06": "idade",
              "lead_field07": "interesses",
              "lead_field08": "origem",
              "lead_field09": "status",
              "lead_field10": "valor",
              "lead_field11": "observacoes",
              "lead_field12": "ultima_interacao",
              "lead_field13": "proximo_contato",
              "lead_field14": "vendedor",
              "lead_field15": "produto_interesse",
              "lead_field16": "fonte_captacao",
              "lead_field17": "score",
              "lead_field18": "tags",
              "lead_field19": "historico",
              "lead_field20": "custom"
            }
          }
        }

        ```


        Erros comuns:

        - 400: Campos invalidos ou payload mal formatado

        - 401: Chave invalida ou expirada

        - 404: Instancia nao encontrada

        - 500: Erro ao atualizar campos no banco de dados


        Restricoes:

        - Cada campo pode ter no maximo 255 caracteres

        - Campos vazios serao mantidos com seus valores atuais

        - Apenas os campos enviados serao atualizados
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - instanceId
                - payload
              properties:
                instanceId:
                  type: string
                  format: uuid
                  description: ID publico da instancia ConnectyHub.
                  example: ea36f5db-c8dd-48ca-9e28-73ca3f015d78
                payload:
                  type: object
                  properties:
                    lead_field01:
                      type: string
                      description: Campo personalizado 01
                      maxLength: 255
                    lead_field02:
                      type: string
                      description: Campo personalizado 02
                      maxLength: 255
                    lead_field03:
                      type: string
                      description: Campo personalizado 03
                      maxLength: 255
                    lead_field04:
                      type: string
                      description: Campo personalizado 04
                      maxLength: 255
                    lead_field05:
                      type: string
                      description: Campo personalizado 05
                      maxLength: 255
                    lead_field06:
                      type: string
                      description: Campo personalizado 06
                      maxLength: 255
                    lead_field07:
                      type: string
                      description: Campo personalizado 07
                      maxLength: 255
                    lead_field08:
                      type: string
                      description: Campo personalizado 08
                      maxLength: 255
                    lead_field09:
                      type: string
                      description: Campo personalizado 09
                      maxLength: 255
                    lead_field10:
                      type: string
                      description: Campo personalizado 10
                      maxLength: 255
                    lead_field11:
                      type: string
                      description: Campo personalizado 11
                      maxLength: 255
                    lead_field12:
                      type: string
                      description: Campo personalizado 12
                      maxLength: 255
                    lead_field13:
                      type: string
                      description: Campo personalizado 13
                      maxLength: 255
                    lead_field14:
                      type: string
                      description: Campo personalizado 14
                      maxLength: 255
                    lead_field15:
                      type: string
                      description: Campo personalizado 15
                      maxLength: 255
                    lead_field16:
                      type: string
                      description: Campo personalizado 16
                      maxLength: 255
                    lead_field17:
                      type: string
                      description: Campo personalizado 17
                      maxLength: 255
                    lead_field18:
                      type: string
                      description: Campo personalizado 18
                      maxLength: 255
                    lead_field19:
                      type: string
                      description: Campo personalizado 19
                      maxLength: 255
                    lead_field20:
                      type: string
                      description: Campo personalizado 20
                      maxLength: 255
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
        '401':
          description: Chave invalida ou expirada
        '404':
          description: Instancia nao encontrada
        '500':
          description: Erro interno
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      parameters:
        - name: instanceId
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: ID publico da instancia ConnectyHub. Em metodos com body, tambem pode ser enviado no corpo.
          example: ea36f5db-c8dd-48ca-9e28-73ca3f015d78
      operationId: providerPostInstanceUpdateFieldsMap
  /provider/instance/updateInstanceName:
    post:
      tags:
        - Instancias
      summary: Atualizar nome da instancia
      description: >
        Rota avancada exposta pela ConnectyHub. A autenticacao e feita pela chave ConnectyHub; a plataforma localiza a
        instancia pelo instanceId e aplica as permissoes do cliente antes de encaminhar a operacao.


        Envie instanceId no corpo ou query string e coloque os campos especificos da operacao dentro de payload.


        Atualiza o nome de uma instancia WhatsApp existente.

        O nome nao precisa ser unico.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - instanceId
                - payload
              properties:
                instanceId:
                  type: string
                  format: uuid
                  description: ID publico da instancia ConnectyHub.
                  example: ea36f5db-c8dd-48ca-9e28-73ca3f015d78
                payload:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Novo nome para a instancia
                      example: Minha Nova Instancia 2024!@#
                  required:
                    - name
      responses:
        '200':
          description: Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Instance'
        '401':
          description: Chave invalida ou expirada
        '404':
          description: Instancia nao encontrada
        '500':
          description: Erro interno
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      parameters:
        - name: instanceId
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: ID publico da instancia ConnectyHub. Em metodos com body, tambem pode ser enviado no corpo.
          example: ea36f5db-c8dd-48ca-9e28-73ca3f015d78
      operationId: providerPostInstanceUpdateInstanceName
  /provider/instance/proxy:
    get:
      tags:
        - Avancado
      summary: Obter configuracao de proxy da instancia
      description: >
        Rota avancada exposta pela ConnectyHub. A autenticacao e feita pela chave ConnectyHub; a plataforma localiza a
        instancia pelo instanceId e aplica as permissoes do cliente antes de encaminhar a operacao.


        Envie instanceId como query string.


        A ConnectyHub distingue a intencao persistida do cliente (`mode`) do transporte efetivo em runtime
        (`effective_mode`).

        Isso evita degradar silenciosamente para conexao direta quando a instancia foi configurada para usar proxy.


        `mode` sempre sera:
          - `custom`: o cliente escolheu um proxy proprio;
          - `internal`: a instancia deve usar o pool interno ou a rota interna; ou
          - `none`: o cliente confirmou explicitamente que aceita conexao direta.

        `effective_mode` mostra o que esta sendo usado no momento:
          - `custom`
          - `internal`
          - `direct`

        `effective_detail` qualifica o transporte efetivo:
          - `managed_pool`: proxy interno gerenciado pela plataforma;
          - `internal_route`: rota interna dedicada do ambiente, sem uma `proxy_url` propria;
          - `relay`: tunel relay do cliente;
          - campo omitido: sem detalhe adicional.

        Quando um proxy customizado falha, a plataforma pode seguir uma cadeia de contingencia:
          1. `proxy_fallback` explicito, se configurado com outra URL;
          2. proxy interno;
          3. conexao direta como ultimo recurso, quando a politica permitir.

        Em qualquer fallback, a intencao persistida continua sendo `mode=custom`. O cliente deve olhar

        `effective_mode`, `effective_detail` e `fallback.active` para entender o estado runtime.


        Como ler cada campo da resposta:

        - `mode`: intencao salva na instancia. E o que o cliente pediu para usar.

        - `effective_mode`: transporte realmente em uso agora. Pode divergir de `mode` durante fallback.

        - `effective_detail`: detalhe extra do transporte efetivo. Use para distinguir pool interno, rota interna ou
        relay. Quando nao ha detalhe adicional, o campo e omitido.

        - `fallback.active`: `true` quando a instancia esta operando fora da rota principal configurada.

        - `fallback.reason`: motivo interno resumido do fallback atual. Serve para diagnostico e pode mudar conforme a
        causa.

        - `fallback.since`: timestamp Unix em milissegundos desde quando o fallback atual comecou.

        - `proxy_url`: proxy persistido na instancia, sempre mascarado. Se `mode=custom`, continua mostrando o proxy do
        cliente mesmo quando a sessao caiu em fallback.

        - `proxy_fallback`: politica persistida de contingencia para `mode=custom`. Pode ser `internal`, `never` ou
        outra URL de proxy.

        - `managed`: campo legado. Fica `true` quando a infraestrutura interna da plataforma esta envolvida no
        transporte atual ou pretendido.

        - `last_test_at`: timestamp Unix em milissegundos do ultimo teste ou da ultima falha persistida para esse proxy.

        - `last_test_error`: ultimo erro persistido para diagnostico. String vazia significa ausencia de erro salvo.

        - `validation_error`: atalho booleano para `last_test_error != ""`.


        Leitura rapida dos cenarios mais comuns:

        - `mode=custom` + `effective_mode=custom`: o proxy do cliente esta sendo usado normalmente.

        - `mode=custom` + `effective_mode=internal`: o proxy do cliente falhou e a sessao esta operando no fallback
        interno.

        - `mode=custom` + `effective_mode=direct`: o proxy do cliente falhou e a sessao caiu para conexao direta como
        ultimo recurso.

        - `mode=internal` + `effective_detail=managed_pool`: a instancia esta usando um proxy do pool interno.

        - `mode=internal` + `effective_detail=internal_route`: a instancia esta usando uma rota interna dedicada, sem
        `proxy_url` propria.

        - `mode=none` + `effective_mode=direct`: conexao direta assumida explicitamente.


        Combinacoes que nao devem aparecer numa resposta valida:

        - `mode=none` com `effective_mode=custom` ou `internal`

        - `effective_detail=managed_pool` com `effective_mode=custom`

        - `effective_detail=relay` com `effective_mode=internal` ou `direct`
      security:
        - bearerAuth: []
        - apiKeyHeader: []
      responses:
        '200':
          description: Configuracao de proxy recuperada com sucesso
          content:
            application/json:
              examples:
                custom_active:
                  summary: Proxy do cliente ativo
                  value:
                    mode: custom
                    effective_mode: custom
                    fallback:
                      active: false
                      reason: ''
                      since: 0
                    proxy_url: http://***:***@cliente-proxy.example:8080
                    proxy_fallback: internal
                    managed: false
                    last_test_at: 0
                    last_test_error: ''
                    validation_error: false
                custom_internal_fallback:
                  summary: Proxy do cliente falhou e a sessao subiu no proxy interno
                  value:
                    mode: custom
                    effective_mode: internal
                    effective_detail: managed_pool
                    fallback:
                      active: true
                      reason: custom_failed_internal:dial tcp timeout
                      since: 1760000000000
                    proxy_url: http://***:***@cliente-proxy.example:8080
                    proxy_fallback: internal
                    managed: true
                    last_test_at: 1760000000000
                    last_test_error: dial tcp timeout
                    validation_error: true
[...]
